header {
    background-color: #896045;
    min-height: 8vh;
}

#accordionSidebar {
    background-color: #e6d4ba;
    min-height: 92vh;
}

#sidebarToggle {
    background-color: #d3bfa8;
}

.nav-link:hover {
    color: #896045;
}

.form-select{
    border-radius: 36px;
    display: block;
    overflow: hidden;
    background: #cccccc;
    border: 1px solid #cccccc;
}

.form-select select {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    padding-left: 15px;
}

.form-control-user, #dataTable, a {
    color: black;
}